#welcome {
  text-align: center;
  margin: 150px auto;
}

.welcome-card {
  width: 1000px;
  height: 350px;
  transform: translate(-50%, -50);

  border-radius: 50px;
  box-shadow: 10px 10px 21px #d3d3d6, -10px 10px 21px #fff;
}

.welcome-inner {
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 20px;
  padding: 100px;
}

h1 {
  font-size: 65px;
  color: rgba(1, 1, 1, 0.5);
}

img {
  height: 40px;
  width: 40px;
  margin-left: 725px;
}

.arrow {
  animation: slide 2s ease-in-out infinite;
}

@keyframes slide {
  0%,
  100% {
    transform: translate(0, 0) rotate(20deg);
  }

  50% {
    transform: translate(85px, -85px) rotate(5deg);
  }
}
