#welcome {
  text-align: center;
  margin: 150px auto;
}

.welcome-card {
  width: 1000px;
  height: 200px;
}

/* .welcome-inner:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
} */

.welcome-inner {
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); */
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 20px;
  padding: 100px;
}

h1 {
  font-size: 65px;
  color: rgba(1, 1, 1, 0.5);
}

img {
  height: 40px;
  width: 40px;
  margin-left: 725px;
}

.arrow {
  animation: slide 2s ease-in-out infinite;
}

@keyframes slide {
  0%,
  100% {
    transform: translate(0, 0) rotate(20deg);
  }

  50% {
    transform: translate(85px, -85px) rotate(5deg);
  }
}
