<div class="emergencies-container">
  <table class="emergencies" *ngIf="emergencyPlanes?.length > 0">
    <thead>
      <tr class="emergencies-header">
        <th>Flight</th>
        <th>From</th>
        <th>Destination</th>
        <th>Direction</th>
      </tr>
    </thead>

    <tbody class="body-screen">
      <tr *ngFor="let emergencyPlane of emergencyPlanes">
        <td
          [ngStyle]="{
            'background-color': emergencyPlane.IsEmergency
              ? 'rgba(255,0,0,0.6)'
              : 'rgba(0,0,0,0)'
          }"
          style="padding: 0 5px; color: white"
        >
          {{ emergencyPlane.SerialID }}
        </td>
        <td>{{ emergencyPlane.Src }}</td>
        <td>{{ emergencyPlane.Dst }}</td>
        <td
          style="color: white"
          [ngStyle]="{
            'background-color':
              emergencyPlane.PlanesPurpose === 'Landing' ? 'green' : 'orange'
          }"
        >
          {{ emergencyPlane.PlanesPurpose }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
