.emergencies {
  background-color: white;
  width: 20%;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.emergencies-header {
  background-color: red;
  color: white;
  table-layout: fixed;
  border-collapse: collapse;
}

.emergencies-container {
  position: fixed;
}

.emergencies-header tbody {
  display: block;
  width: 100%;
  overflow-y: scroll;
  height: 150px;
}

.emergencies-header tbody th {
  display: block;
}

.emergencies-header th,
.emergencies-header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

td {
  text-align: center;
}

thead,
tbody {
  display: block;
}

tbody {
  max-height: 80px; /* Just for the demo          */
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
}

table,
th,
td {
  text-align: center;
}

/* table,
th,
td {
  text-align: center;
}

table {
  width: 100%;
  background-color: white;
}

th {
  padding: 10px;
}

td {
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
} */
