.emergencies-container {
  position: fixed;
  display: grid;
  justify-content: center;
}

.emergencies {
  background-color: white;
  width: 400px;
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.emergencies-header {
  background-color: red;
  color: white;
}

.emergencies thead {
  background-color: #f1f1f1;
  position: relative;
  display: block;
}

.emergencies tbody {
  /* Position */
  display: block;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  /* Decoration */
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.emergencies tr {
  width: 100%;
  display: flex;
}

.emergencies td,
.emergencies th {
  flex-basis: 100%;
  display: block;
}

.body-screen {
  max-height: 100px;
}

table th,
table td {
  width: 200px;
  text-align: center;
}

table th {
  margin-left: -15px;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.emergency-plane {
  padding: 0 5px;
  color: white;
}

.direction {
  color: white;
}
