.message-container {
  padding-top: 25px;
  display: grid;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.hideMe {
  -webkit-animation: cssAnimation 2s forwards; 
  animation: cssAnimation 2s forwards;
}

@keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}

.message {
  color: white;
  background-color: black;
  padding: 5px;
  border: cornflowerblue 5px solid;
  border-radius: 10px;
}
