<table class="flights">
  <thead>
    <tr class="flights-header">
      <th>Flight</th>
      <th>From</th>
      <th>Destination</th>
      <th>Direction</th>
      <th>Emergency</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let flight of airplanes">
      <td
        [ngStyle]="{
          'background-color': flight.IsEmergency ? 'red' : 'rgba(0,0,0,0)'
        }"
        style="padding: 0 5px"
      >
        {{ flight.SerialID }}
      </td>
      <td>{{ flight.Src }}</td>
      <td>{{ flight.Dst }}</td>
      <td
        style="color: white"
        [ngStyle]="{
          'background-color':
            flight.PlanesPurpose === 'Landing' ? 'green' : 'orange'
        }"
      >
        {{ flight.PlanesPurpose }}
      </td>
      <td>
        <button
          mat-raised-button
          class="danger-btn"
          (click)="sendEmergencyData(flight.PlaneId)"
        >
          <span class="tooltiptext">Press to add emergency</span>
          <i class="fas fa-exclamation-triangle"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
