<table class="spots">
  <thead style="padding: 5px">
    <tr class="spots-header">
      <th><i class="fas fa-broadcast-tower" style="color: white"></i></th>
      <th>State</th>
      <!-- <th>Relevance</th> -->
      <th>Flight</th>
      <th>Time</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let spot of spots"
      [ngStyle]="{
        color: spot.IsActive ? 'black' : 'red'
      }"
    >
      <td>{{ spot.Spot }}</td>
      <td
        style="color: white"
        [ngStyle]="{
          'background-color': spot.IsAvailable ? 'lightskyblue' : 'darkblue'
        }"
      >
        {{ spot.IsAvailable ? "IDLE" : "BUSY" }}
      </td>
      <!-- <td>{{ spot.Relevance }}</td> -->
      <td>{{ spot.PlaneOnSpot?.SerialID }}</td>
      <td style="width: 70px">
        {{ spot.OccupiedSince | date: "HH:mm:ss" }}
      </td>
      <td>
        <button
          mat-raised-button
          matTooltip="Tooltip on the right side of  the element"
          matTooltipPosition="right"
          class="danger-btn"
          *ngIf="spot.IsActive"
          (click)="sendEmergencySpot(spot.Spot)"
        >
          <i class="fas fa-exclamation-triangle"></i>
        </button>
        <button
          mat-raised-button
          class="safe-btn"
          *ngIf="!spot.IsActive"
          (click)="cancelEmergencySpot(spot.Spot)"
        >
          Cancel
        </button>
      </td>
    </tr>
  </tbody>
</table>
