.spots {
  width: 20%;
  margin: 15px;
  position: fixed;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.spots-header {
  background-color: #04009a;
  color: white;
}

table,
th,
td {
  text-align: center;
}

th {
  padding: 10px;
}

table {
  width: 100%;
  background-color: white;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

i {
  color: red;
  font-size: 1.5rem;
}

.danger-btn {
  background-color: white;
  width: 70px;
  height: 35px;
  z-index: -1;
}

.safe-btn {
  color: green;
  width: 70px;
  height: 35px;
}

.danger-btn .tooltiptext {
  visibility: hidden;
  background-color: rgba(1,1,1,0.6);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.danger-btn:hover .tooltiptext {
  visibility: visible;
}

.safe-btn .tooltiptext {
  visibility: hidden;
  background-color: rgba(1,1,1,0.6);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.safe-btn:hover .tooltiptext {
  visibility: visible;
}