<table class="spots">
  <thead style="padding: 5px">
    <tr class="spots-header">
      <th><i class="fas fa-broadcast-tower" style="color: white"></i></th>
      <th>State</th>
      <th>Flight</th>
      <th>Time</th>
      <th>Emergency</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let spot of spots | keyvalue">
      <td>{{ spot.value.Spot }}</td>
      <td
        style="color: white"
        [ngStyle]="{
          'background-color': spot.value.IsAvailable
            ? 'lightskyblue'
            : 'darkorange'
        }"
      >
        {{ spot.value.IsAvailable ? "IDLE" : "BUSY" }}
      </td>
      <td>{{ spot.value.PlaneOnSpot?.SerialID }}</td>
      <td style="width: 70px;">{{ spot.value.OccupiedSince | date:'HH:mm:ss' }}</td>
      <td>
        <button
          mat-raised-button
          class="danger-btn"
          *ngIf="IsEmergency"
          (click)="isEmergencyCheck()"
        >
          <i class="fas fa-exclamation-triangle"></i>
        </button>
        <button
          mat-raised-button
          class="safe-btn"
          *ngIf="!IsEmergency"
          (click)="isEmergencyCheck()"
        >
          Available
        </button>
      </td>
    </tr>
  </tbody>
</table>
