<body>
  <mat-toolbar class="app-header">
    <div>
      <i class="fas fa-paper-plane logo"></i>
      <span class="header-title">Airport Traffic Control System</span>
    </div>
    <ng-container>
      <span class="nav-tool-items">
        <button mat-raised-button *ngIf="!isCollapsed" class="start-btn" (click)="start()">
          <i class="fas fa-power-off power-logo"></i>
        </button>
      </span>
    </ng-container>
  </mat-toolbar>

  <div class="window">
    <router-outlet> </router-outlet>
  </div>
</body>
