.runways {
  margin-top: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  position: relative;
  left: -280px;
}

.runways-position{
  display: grid;
  justify-content: center;
}

.runways-header {
  background-color: #04009a;
  color: white;
}

table,
th,
td {
  text-align: center;
}

table {
  width: 100%;
  background-color: white;
}

th {
  padding: 10px;
}

td {
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.checkbox .tooltiptext {
  visibility: hidden;
  background-color: rgba(1,1,1,0.6);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.checkbox:hover .tooltiptext {
  visibility: visible;
}
