<div class="runways-position">
  <table class="runways" *ngIf="runways?.length > 0">
    <thead>
      <tr class="runways-header">
        <th>Runway</th>
        <th>Emergency</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let runway of runways">
        <td>{{ runway }}</td>
        <td>
          <mat-checkbox
            class="checkbox"
            name="{{ runway }}"
            (change)="sendEmergencyRunway($event)"
          >
            <span class="tooltiptext">Check to add emergency</span></mat-checkbox
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
