<!--/ Spots Table /-->
<atc-spots-table></atc-spots-table>

<!--/ Flights Table /-->
<atc-flights-table></atc-flights-table>

<!--/ Runways Table /-->
<atc-runway-emergency-set></atc-runway-emergency-set>

<!--/ Map /-->
<div class="map">
  <div *ngFor="let spot of spots" class="flex-container">
    <div>
      <div style="float: left">
        {{ spot.Spot }}
      </div>
      <i
        [ngStyle]="{
          color: spot.PlaneOnSpot?.PlanesPurpose ? 'green' : 'red'
        }"
        class="fas fa-plane"
        *ngIf="!spot.IsAvailable"
      ></i>
      {{ spot.PlaneOnSpot?.SerialID }}
    </div>
  </div>
</div>
