<table
  class="paths"
  *ngIf="landingsOrder?.length > 0 && takeoffsOrder?.length > 0"
>
  <tr>
    <th class="paths-header landings">Landings</th>
    <td *ngFor="let spot of landingsOrder" class="landing-spot">
      {{ spot }} >
    </td>
    <td>{{ landingsResults }} finished</td>
  </tr>
  <tr>
    <th class="paths-header takeoffs">Takeoffs</th>
    <td *ngFor="let spot of takeoffsOrder" class="takeoff-spot">
      {{ spot }} >
    </td>
    <td style="display: table-cell; padding-left: 40px">
      {{ takeoffsResults }} finished
    </td>
  </tr>
</table>
